@font-face {
    font-family: myFont;
    src: url("../Fonts/myFont.ttf");
}

html{
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
}

p{
    font-family: myFont;
}

h1, 
h2{
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
}

.pageContent{
    display: grid;
    justify-self: stretch;
    min-height: 100vh;
    grid-template-columns: 0.18fr 1fr;
    grid-template-rows: 1fr 14fr;
}

.modal{
    display: none;
    grid-row: 1/-1;
    grid-column: 1/-1;
    z-index: 6;
    background-color: white;
    opacity: 0.8;
}

/*HEADER SECTION*/
.headerDiv{
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: linear-gradient(to right, rgb(0, 85, 255) 20%, rgb(0, 170, 255) 75%);
    padding-left: 2%;
    grid-column: 1/-1;
    grid-row: 1/2;
}

.siteLogo{
    height: 35px;
    width: 35px;
}

.pageTitle{
    margin-left: 16px;
    font-size: 28px;
    color: white;
    margin: 0;
}

/*SIDEBAR SECTION*/
.sideBarDiv{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr 1fr 0.5fr;
    padding: 45px 22px;
    padding-bottom: 0;
    background-color: #f7f7f7;
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: stretch;
}

.mainOptionsDiv,
.projectOptionDiv{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #f7f7f7;
}

#selecetedOption{
    background-color: rgb(0, 170, 255);
}

#unselectedOption{
    background-color: white;
}

.optionDiv,
.projectDiv{
    display: flex;
    justify-content: start;
    align-items: center;
    max-height: 45px;
    background-color: rgb(255, 255, 255);
    padding-left: 26px;
}

.optionDiv:hover,
.projectDiv:hover{
    border: 1px solid rgb(0, 170, 255)
}

.optionIcon{
    width: 25px;
    height: 25px;
    z-index: 10;
}

.optionText{
    font-size: 18px;
    margin-left: 8px;
}

/*SIDEBAR PROJECTS SECTION*/
.projectOptionDiv,
.projectsContainer{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(49, 43, 43);
}

.projectHeaderDiv{
    display: flex;
    border-bottom: 1px solid rgb(49, 43, 43);
    padding: 18px 20px 8px;
    margin-bottom: -12px;
}

.projectHeader{
    display: flex;
    gap: 4px
}

.projectHeader,
.numProjeccts{
    margin: 0;
    font-size: 20px;
    color: black;
    font-family: myFont;
}

.addProjectBtn,
.addTaskBtn{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 2px 0 0 auto;
    background-image: url("../Assets/Add.png");
    background-position: center;
    background-size: 25px 25px;
    border: none;
}

.projectsContainer{
    gap: 18px;
    margin-top: 12px;
    border: none;
}

.projectDiv{
    padding: 12px 20px;
}

.leftSideDiv,
.rightSideDiv{
    display: flex;
    align-items: center;
    min-height: 100%;
}

.leftSideDiv{
    justify-content: start;
    gap: 8px;
    min-width: 65%;
}

.rightSideDiv{
    justify-content: end;
    min-width: 35%;
    gap: 10px;
}


.projectIconLeft,
.projectIcon{
    height: 20px;
    width: 20px;
}

.projectNameP{
    overflow: hidden;
    margin: 0;
    text-overflow: ellipsis;
    width: 80%
}

/*SIDEBAR FOOTER SECTION*/
.footer{
    grid-column: 1/2;
    grid-row: 3/-1;
    text-align: center;
    max-height: 10%;
}

.gitHubUsername{
    text-decoration: none;
    color: rgb(0, 85, 255);
}

/*MAIN CONTENT SECTION*/
.toDoMainContent{
    grid-column: 2/-1;
    grid-row: 2/3;
    max-height: 100vh;
    padding-left: 20%;
    padding-right: 20%;
}

.tabTitleDiv{
    display: flex;
    justify-content: center;
    align-content: center;
    max-height: 10%;
    gap: 8px;
    margin-top: 20px
}

.tabIcon{
    height: 40px;
    width: 40px;
}

.tabTitle{
    color: black;
    font-size: 28px;
    margin-top: 5px;
    font-weight: 600;
}

.taskDiv{
    display: flex;
    justify-content: start;
    padding: 0px 30px 8px;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid black;
    margin-top: 20px;
}

.taskP{
    display: flex;
    gap: 4px;
}

.taskP,
.numTasks{
    margin: 0;
    font-size: 20px;
}

/*TO-DO LIST FORM SECTION*/
.popUpForm,
.infoContainer{
    display: none;
    position: fixed;
    top: 68%;
    left: 50%;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    width: 400px;
    max-width: 100vw;
    max-height: 540px;
    min-height: 400px;
    margin-top: -350px;
    margin-left: -200px;
    box-shadow: 1px 1px 5px rgb(176, 174, 174);
}

.formTitleDiv,
.infoTitleDiv{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 0;
    color: white;
    background-image: linear-gradient(to right, rgb(0, 85, 255), rgb(0, 170, 255) 75%);
}

.exitBtn{
    height: 30px;
    margin-right: 8px;
    background: none;
    border: none;
    font-size: 26px;
    color: white;
    font-weight: 1000;
}

.form,
.deleteWarningDiv{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    gap: 20px;
}

.formField{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 700;
}

.input,
.select,
.complete{
    font-size: 14px;
    height: 35px;
    border: 1px solid rgb(230, 228, 228);
    font-family: myFont;
    font-weight: 700;
}

.option,
.placeHolderMsg{
    font-weight: 700;
}

.label{
    font-family: myFont;
    color: black;
    font-size: 16px;
}

.textArea{
    height: 80px;
    border: 1px solid rgb(230, 228, 228);
    font-size: 14px;
}

.input:focus,
.select:focus{
    border: 1px solid rgb(0, 85, 255);
    outline: none;
}

.select{
    background-color: white;
}

.formActionBtnsDiv,
.infoActionDiv{
    display: flex;
    justify-content: end;
    margin: -10px auto 10px auto;
    width: 90%;
    gap: 20px;
    height: 45px;
    padding-right: 0px;
    padding-top: 16px;
}

.cancelBtn,
.submitBtn,
.infoCancelBtn{
    height: 38px;
    width: 60px;
    border: 1px solid rgb(230, 228, 228);
    background: none;
}

.submitBtn{
    font-family: sans-serif;
    font-weight: 1000;
    color: white;
    background-color: rgb(0, 170, 255);
}

.toDoListDiv{
    height: 150px;
    padding: 0px
}

/*TO DO LIST TASK SECTION*/
.taskContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.taskContainer:hover{
    background-color: #f7f7f7
}

.leftTaskSideDiv,
.rightTaskSideDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.rightTaskSideDiv{
    gap: 8px;
}

.complete{  /*Check button (unchecked*/
    margin-top: 0px;
    appearance: none;
    background-color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

#isCompleteBtn{ /*Check button (checked*/
    background-color: rgb(0, 170, 255);
}

.low{
    border: 1px solid rgb(44, 221, 44);
}

.medium{
    border: 1px solid rgb(227, 206, 16)
}

.high{
    border: 1px solid rgb(231, 32, 32)
}

.taskNameP,
.dueDateP{
    margin: 0;
    margin-top: -5px;
    color:black;
    font-size: 16px;
}

.dueDateP{
    font-size: 18px;
    color: rgb(0, 140, 255);
    font-weight: 500;
    font-family: sans-serif;
}

.taskOptionIcon{
    width: 20px;
    height: 20px;
    margin-top: -3px;
}

#completedTask{  /*Task Title*/
    text-decoration: line-through;
    text-decoration-color: rgb(44, 37, 37);
    text-decoration-thickness: 1px;
}

/*TASK SECTIOn: INFO ICON*/
.infoContainer{
    width: 425px;
}

.infoSectionDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px 20px;
}

.infoDiv{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid rgb(235, 235, 235);
    min-width: 100%;
    min-height: 52px;
    padding: 8px;
}

.infoSectionDiv > :nth-child(2){
    grid-column: 1/2;
    grid-row: 1/2;
    min-height: 100%
}

.infoSectionDiv > :nth-child(2) > :nth-child(2){ /*Target description cell*/
    overflow-y: scroll;
    grid-column: 2/-1;
    grid-row: 1/2;
    max-height: 100px;
    padding-right: 8px; 
}

.cardTitle,
.cardContent{
    margin: 0;
    font-size: 16px;
}

/*DELETE FORM GUI*/
#deleteGUI,
#deleteProjectGUI{
    width: 420px;
    max-width: 100vw;
    max-height: 300px;
    min-height: 180px;
}

.deleteWarningDiv{
    background-color: rgb(255, 255, 255);
    gap: 0;
    padding-top: 0;
}

.deleteWarningMsgDiv{
    display: flex;
    gap: 4px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.deleteWarningDiv p{
    margin: 0;
    font-size: 16px;
    padding-top: 16px;
    font-family: sans-serif;
}

.deleteQuestionP,
.deleteWarningMsgP1,
.deleteWarningMsgP2{
    font-weight: 500;
}

.taskNameSpan{
    font-family: myFont;
    font-weight: 1000;
}

#deleteGUI .submitBtn,
#deleteProjectGUI .submitBtn{
    background-color: rgb(243, 39, 39); 
}

/*PROJECT SECTION*/
#addProjectFrom{
    width: 420px;
    max-width: 100vw;
    max-height: 300px;
    min-height: 180px;
}
